@page
@model AccessKeyModel
@{
    ViewData["Subtitle"] = "کلید‌های دسترسی";
    ViewData["ActivePage"] = ManageNavPages.AccessKey;
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title ">لیست کلید‌های شما</h4>
                <p class="card-category">می‌تونید از این کلید‌ها تو برنامه‌ی خط-فرمانی میرزا استفاده کنید</p>
            </div>
            <div class="card-body">
                <div>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info" id="showNewKeyModal">
                        ساخت کلید جدید
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-condesed table-hover">
                        <thead class="text-info">
                        <th>شناسه</th>
                        <th>کلید</th>
                        <th>انقضا</th>
                        <th>وضعیت</th>
                        <th>
                            <span class="justify-content-center">...</span>
                        </th>
                        </thead>
                        <tbody>
                            @foreach (var accessKey in Model.AccessKeyList)
                            {
                                <tr>
                                    <td>@accessKey.Id</td>
                                    <td style="direction:ltr">@accessKey.Key</td>
                                    <td>@accessKey.ExpirationPersian</td>
                                    <td>@accessKey.State</td>
                                    <td>
                                        @if (accessKey.IsActive)
                                        {
                                            <form asp-page-handler="DeactivateAccessKey" method="post">
                                                <input type="hidden" asp-for="@accessKey.Id" name="accessKeyId" />
                                                <button type="submit" class="btn btn-info btn-sm">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </form>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="generateKeyModal" tabindex="-1" role="dialog" aria-labelledby="generateKeyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="generateKeyModalLabel">ساخت کلید جدید</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>کلید زیر رو یک جای امن کپی کنید. این تنها باریه که این کلید رو می‌بینید.</p>
                    <input class="form-control" type="text" id="newKeyInput" readonly>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        var modalHandle = $("#generateKeyModal").modal({
            backdrop: 'static',
            keyboard: true,
            focus: true,
            show: false
        });

        modalHandle.on('hidden.bs.modal', function (e) {
            location.reload();
        })

        $("#showNewKeyModal").click(function () {
            $.post("/api/users/access-key/generate", function (data) {
                $("#newKeyInput").val(data['key']);
                modalHandle.modal('show');
            })
        });

    </script>
}