@page
@model Mirza.Web.Pages.IndexModel
@{
    ViewData["Title"] = "خانه";
}

@if (!String.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model.ErrorMessage
    </div>
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title ">ثبت رکورد جدید</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label asp-for="Input.Date">تاریخ</label>
                            <input class="form-control" asp-for="Input.Date">
                            <span asp-validation-for="Input.Date" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Input.Start">شروع از</label>
                            <input id="input-start" class="form-control" type="text" asp-for="Input.Start" value="@Model.Input.Start">
                            <span asp-validation-for="Input.Start" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Input.End">تا</label>
                            <input id="input-end" class="form-control" type="text" asp-for="Input.End">
                            <span asp-validation-for="Input.End" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Input.Description">توضیحات</label>
                            <textarea class="form-control" asp-for="Input.Description"></textarea>
                            <span asp-validation-for="Input.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Input.Details">جزئیات</label>
                            <textarea class="form-control" asp-for="Input.Details"></textarea>
                            <span asp-validation-for="Input.Details" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Details">برچسب‌ها</label>
                        <input class="form-control" asp-for="Input.Tags" data-role="tagsinput" />
                        <span asp-validation-for="Input.Tags" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-info">میــرزا! بنویس!</button>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header card-header-info">
                <h4 class="card-title ">گزارش کارهای انجام شده</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                <table id="reportTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>تاریخ</th>
                            <th>شروع</th>
                            <th>پایان</th>
                            <th>توضیحات</th>
                            <th>جزئیات</th>
                            <th>برچسب‌ها</th>
                            <th>...</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var logEntry in Model.TodayWorkLog.WorkLogItems)
                        {
                            <tr>
                                <td>@Mirza.Common.Utils.GetPersianDate(logEntry.WorkLogDate)</td>
                                <td>@logEntry.StartTime</td>
                                <td>@logEntry.EndTime</td>
                                <td>@logEntry.Description</td>
                                <td>@logEntry.Details</td>
                                <td>
                                    @foreach (var tag in logEntry.Tags)
                                    {
                                        <span class="badge badge-info">@tag.Value</span>
                                    }
                                </td>
                                <td>
                                    <form method="post">
                                        <input type="hidden" name="workLogId" value="@logEntry.Id" />
                                        <button type="submit" class="btn btn-outline btn-outline-danger"
                                                asp-page-handler="DeleteWorkLog"
                                                name="DeleteWorkLog">
                                            <span class="material-icons">
                                                delete
                                            </span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $("#reportTable").DataTable({
            dom: 'Bfrtip',
            buttons: ['copy', 'csv', 'excel', 'pdf']
        });

        tail.DateTime("#input-start", {
            time12h: false,
            dateFormat: false,
            zeroSeconds: true,
            closeButton: false,
            timeFormat: "HH:ii",
            timeStepHours: 1,
            timeStepMinutes: 5,
        });

        tail.DateTime("#input-end", {
            time12h: false,
            dateFormat: false,
            zeroSeconds: true,
            closeButton: false,
            timeFormat: "HH:ii",
            timeStepHours: 1,
            timeStepMinutes: 5,
        });

    </script>
}